@model IEnumerable<ProjectPlanner.Models.IdeaModel>

@{
    ViewBag.Title = "ProjectPlanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suggestions</h2>

@if (Model != null)
{
    @Html.DisplayForModel()
}